<div class="container-fluid">
  <div class="thumbnail">
    <h1 class="text-center"><%= @user.name %>のページ</h1>
    <div class="caption">
      <p class="text-center">メールアドレス: <%= @user.email %></p>
    </div>
  </div>
</div>
</div>
<br></br>

<% if current_user.client  %>
  <%= link_to 'イベントを作る', new_event_path %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col-1">ID</th>
          <th class="col-2">タイトル</th>
          <th class="col-2">期間</th>
          <th class="col-1">ステータス</th>
          <th class="col-2">その他</th>
          <th class="col-1">予約一覧</th>
          <th colspan="3"></th>
        </tr>
      </thead>


      <tbody>
        <% @user.events.each do |event| %>
          <tr class="row">
            <td class="col-1"><%= event.id %></td>
            <td class="col-2"><%= link_to event.event_name , event_reservations_path(event) %></td>
            <td class="col-2"><%= event.period.strftime('%Y/%m/%d') %>~<%= event.period_end.strftime('%Y/%m/%d') %></td>

            <td class="col-1"><%= event.status %></td>
            <td class="col-2"><%= event.remarks %></td>
            <td class="col-1"><%= link_to '予約一覧' ,event_reservations_path(event) %></td>
      
            <td class="col-1"><%= link_to '詳細', event_path(event) ,class: "btn btn-outline-primary" %></td>
            <td class="col-1"><%= link_to '編集', edit_event_path(event) ,class: "btn btn-outline-warning" %></td>
            <td class="col-1"><%= link_to '削除', event_path(event), method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } ,class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive-phone">
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col-12">公演</th>
        </tr>
      </thead>


      <tbody>
        <% @user.events.each do |event| %>
          <tr class="row">
            <td class="col-3"><%= link_to event.event_name , event_reservations_path(event) %></td>
            <td class="col-3"><%= link_to '予約一覧' ,event_reservations_path(event) %></td>
      
            <td class="col-2"><%= link_to '詳細', event_path(event) ,class: "btn btn-outline-primary" %></td>
            <td class="col-2"><%= link_to '編集', edit_event_path(event) ,class: "btn btn-outline-warning" %></td>
            <td class="col-2"><%= link_to '削除', event_path(event), method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } ,class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else%>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="row">
          <th class="col-2">タイトル</th>
          <th class="col-3">日にち</th>
          <th class="col-1">枚数</th>
          <th class="col-2">備考</th>
        </tr>
      </thead>
      </thead>


      <tbody>
        <% @user.reservations.each do |r| %>
          <tr class="row">
            <td class="col-2"><%= r.event.event_name %></td>
            <td class="col-3"><%= r.date %></td>
            <td class="col-1"><%= r.number_of_ticket %></td>
            <td class="col-2"><%= r.remarks %></td>

            <td class="col-2"><%= link_to 'イベントの詳細', event_path(r.event) ,class: "btn btn-outline-primary" %></td>
            <td class="col-1"><%= link_to '編集', edit_event_reservation_path(r.event,r) ,class: "btn btn-outline-warning" %>
            </td>
            <td class="col-1"><%= link_to '削除', event_reservation_path(r.event,r), method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } ,class: "btn btn-outline-danger" %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="table-responsive-phone">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-9">タイトル</th>
          <th colspan="3"></th>
        </tr>
      </thead>


      <tbody>
        <% @user.reservations.each do |r| %>
          <tr>
            <td class=" col-10"><%= link_to r.event.event_name , event_reservation_path(r.event) ,class: "btn btn-outline-primary"%></td>

            <td class="col-1"><%= link_to '編集', edit_event_reservation_path(r.event,r) ,class: "btn btn-outline-warning" %>
            </td>
            <td class="col-1"><%= link_to '削除', event_reservation_path(r.event,r), method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } ,class: "btn btn-outline-danger" %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
