<% if @event.errors.any? %>
  <div id = "error_expanation" class = "text-center" >
  <h2><%= @event.errors.count %>件のエラー</h2>
    <ul style = "list-style: none;">
      <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

              
<div class="login">
  <div class="heading">
   <div class="event-form">
    <%= form_with(model: event, local: true) do |form| %>
      <div class="field">
        <li><%= form.label :flyer %></li>
        <li><%= form.file_field :flyer %></li>
        <li><%= form.label :company_name %></li>
        <li><%= form.text_field :company_name %></li>
        <li><%= form.label :event_name %></li>
        <li><%= form.text_field :event_name %></li>
        <li><%= form.label :place %></li>
        <li><%= form.text_field :place %></li>
        <li><%= form.label :period %></li>
        <li><%= form.datetime_field :period %></li>~
        <li><%= form.datetime_field :period_end %></li>
        <li><%= form.label :price %></li>
        <li><%= form.text_field :price %></li>
        <li><%= form.label :direction %></li>
        <li><%= form.text_field :direction %></li>        
        <li><%= form.label :status %></li>
        <li><%= form.select :status, ["公演前", "公演中", "公演後"], include_blank: "選択して下さい" %></li>
        <li><%= form.label :remarks %></li>
        <li><%= form.text_area :remarks %></li>
      </div>
        <div class="actions">
          <%= form.submit %>
        </div>
   <% end %>
  </div> 
</div>

<br>