    <br>
    <div class="search">
      <%= search_form_for @q do |f| %>
        <%= f.label :event_name, "公演名で検索" %>
        <%= f.search_field :event_name_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </div>


<div class="album py-5  bg-light">
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-lg-6">
          <div class="card mb-4 shadow-sm">
          <%= image_tag event.flyer.url, class:"card-img-top" %>
            <div class="card-body">
              <p class="card-text">　<%= event.company_name %></p>
              <h4 class="card-text">「<%= event.event_name %>」</h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Show', event %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

    <br>
