    <br>
    <div class="search text-center">
      <%= search_form_for @q do |f| %>
        <%= f.label :event_name, "公演名で検索" %>
        <%= f.search_field :event_name_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </div>

<div class="album py-5  bg-light">
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-lg-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">　<%= event.company_name %></p>
              <h5 class="card-text">「<%= event.event_name %>」</h5>
              <div class="btn-group">
                <p type="button" class="btn btn-sm btn-outline-secondary"><%= link_to '詳細/予約はこちらから', event %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @events %>
    <br>  <br>  <br>  <br>  <br>
