

    <form class="form-signin">
  <div class="text-center mb-4">
    <div class="mb-4">
    <% if @event.time_table != nil %>
     <%= image_tag @event.time_table.url %>
    <% end %>
    </div>
    <h1 class="h3 mb-3 font-weight-normal"><%= @event.event_name %></h1>
    <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
  </div>
  <div class=event_show>
    <p>団体名: <%= @event.company_name %></p>
    <p>期間: <%= @event.period %>~<%= @event.period_end %></p>
    <p>場所: <%= @event.place %></p>
    <p>金額: <%= @event.price %>円</p>
    <p>脚本/演出: <%= @event.direction %></p>
    <p>ステータス: <%= @event.status %></p>
    <p>備考: <%= @event.remarks %></p>
  </div>


  <button class="btn btn-lg btn-secondry btn-block width " type="submit"><%= link_to '予約する', new_event_reservation_path(@event, @reservation) %></button>
</form>

<p>このイベントへの質問はこちらへどうぞ</p>
<p id="notice"><%= notice %></p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をeventの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, event: @event } %>
  </div>
  <!-- コメント入力欄をeventの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, event: @event } %>
<br/>
  </div>
</div>
<%= link_to '一覧へ', events_path %>
<br>
<br>
<br>

