<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.event_name %>
  <% if @event.flyer.url != nil %>
  <%= image_tag @event.flyer.url %>
  <% end %>
</p>

<%= link_to 'Reservation', new_event_reservation_path(@event, @reservation) %>|
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
