<div class="login">
  <div class="heading">
    <%= form_with(model: [@event, @reservation]) do |form| %>
      <div class="field">
        <strong>Name:</strong>
        <div class="text-center mb-4">
          <div class="mb-4">
          <% if @event.flyer.url != nil %>
            <%= image_tag @event.flyer.url %>
          <% end %>
          </div>
        </div>
        <li><%= form.label :date %></li>
        <li><%= form.datetime_field	 :date %></li>
        <li><%= form.label :ticket_type %></li>
        <li><%= form.select :ticket_type , ["一般席", "招待席"], include_blank: "選択して下さい"%></li>
        <li><%= form.label :number_of_ticket %></li>
        <li><%= form.number_field :number_of_ticket %></li>
        <li><%= form.label :remarks %></li>
        <li><%= form.text_area :remarks %></li>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
<br>

