<% if @reservation.errors.any? %>
  <div id = "error_expanation" class = "text-center" >
  <h2><%= @reservation.errors.count %>件のエラー</h2>
    <ul style = "list-style: none;">
      <% @reservation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="login">
  <div class="heading">
    <%= form_with(model: [@event, @reservation], local: true) do |form| %>
      <div class="field">
        <strong>Name:</strong>
        <div class="text-center mb-4">
          <div class="mb-4">
          <% if @event.time_table.url != nil %>
            <%= image_tag @event.time_table.url %>
          <% end %>
          </div>
        </div>
        <li><%= form.label :date %></li>
        <li><%= form.collection_select(:date, @select_dates, :event_date, :event_date, {prompt: "日付を選択してください"} ) %></li>
        <li><%= form.label :ticket_type %></li>
        <li><%= form.select :ticket_type , ["一般席", "招待席"], include_blank: "選択して下さい"%></li>
        <li><%= form.label :number_of_ticket %></li>
        <li><%= form.number_field :number_of_ticket %></li>
        <li><%= form.label :remarks %></li>
        <li><%= form.text_area :remarks %></li>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
<br>

