

<h1>Reservations</h1>
<table>
  <thead>
    <tr class="row" >
      <th class='col-1'>ID</th>
      <th class='col-2'>予約者の名前</th>
      <th class='col-1'>日にち</th>
      <th class='col-1'>枚数</th>
      <th class='col-4'>備考欄</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr class="row" >
        <td class='col-1'><%= r.id%></td>
        <td  class='col-2'><%= r.user.name%></td>
        <td  class='col-1'><%= r.date%></td>
        <td  class='col-1'><%= r.number_of_ticket%></td>
        <td class="col-4"><%= r.remarks %></td>
        <td ><%= link_to '詳細', event_reservation_path(event_id: r.event_id, id: r.id) ,class: "btn btn-outline-primary" %></td>
        <td ><%= link_to '編集', edit_event_reservation_path(event_id: r.event_id, id: r.id) ,class: "btn btn-outline-warning" %></td>
        <td ><%= link_to '削除', event_reservation_path(event_id: r.event_id, id: r.id), method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } ,class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_event_reservation_path %>
