<p id="notice"><%= notice %></p>

<h1>Reservations</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>予約者の名前</th>
      <th>日にち</th>
      <th>枚数</th>
      <th>キャスト</th>
      <th>備考欄</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr>
        <td><%= r.id%></td>
        <td><%= r.ticket_type%></td>
        <td><%= r.number_of_ticket%></td>
        <td><%= r.total_price%></td>
        <td><%= r.remarks%></td>
        <td><%= r.cast_name%></td>
        <td><%= link_to 'Show', event_reservation_path(event_id: r.event_id, id: r.id) %></td>
        <td><%= link_to 'Edit', edit_event_reservation_path(event_id: r.event_id, id: r.id) %></td>
        <td><%= link_to 'Destroy', event_reservation_path(event_id: r.event_id, id: r.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_event_reservation_path %>
