

<h1>Reservations</h1>
<table>
  <thead>
    <tr class="row" >
      <th class='col-1'>ID</th>
      <th class='col-1'>予約者の名前</th>
      <th class='col-1'>日にち</th>
      <th class='col-1'>枚数</th>
      <th class='col-5'>備考欄</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |r| %>
      <tr class="row" >
        <td class='col-1'><%= r.id%></td>
        <td  class='col-1'><%= r.user.name%></td>
        <td  class='col-1'><%= r.date%></td>
        <td  class='col-1'><%= r.number_of_ticket%></td>
        <td  class='col-1'><%= r.total_price%></td>
        <td class="col-4"><%= r.remarks %></td>
        <td class='col-1'><%= link_to 'Show', event_reservation_path(event_id: r.event_id, id: r.id) %></td>
        <td class='col-1'><%= link_to 'Edit', edit_event_reservation_path(event_id: r.event_id, id: r.id) %></td>
        <td class='col-1'><%= link_to 'Destroy', event_reservation_path(event_id: r.event_id, id: r.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_event_reservation_path %>
