<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.event.event_name %>
  <% if @reservation.event.flyer != nil %>
  <%= image_tag @reservation.event.flyer.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_reservation_path(@reservation) %> |
<%= link_to 'Back', event_reservations_path %>