<h1>予約完了のお知らせ</h1>
<h4>name: <%= @reservation.user.email %></h4>
<h4>予約内容の確認</h4>
<p>タイトル: <%= @reservation.event.event_name %></p>
<p>団体名: <%= @reservation.event.company_name %></p>
<p>場所: <%= @reservation.event.place %></p>
<p>金額: <%= @reservation.event.price %>円</p>
<p>予約日: <%= @reservation.date %></p>
<p>チケットの種類: <%= @reservation.ticket_type %></p>
<p>チケットの枚数: <%= @reservation.number_of_ticket %></p>
<p>備考欄: <%= @reservation.remarks %></p>