<!DOCTYPE html>
<html>
  <head>
    <title>TTEYO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" <%= link_to 'TTEYO', root_path %></a>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                 <li><%= link_to "イベント投稿", events_path %></li>
                 <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li> <%= link_to "新規登録", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
              <li><a href="">top</a></li>
              <li><a href="">menu1</a></li>
              <li><a href="">menu2</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <p>© 2020 TTEYO</p>
    </footer>
  </body>
</html>
